/* General Styles */
:root {
  --main_grid_column: auto 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  height: 100vh;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

/* Content Layout */
.content {
  display: grid;
  grid-template-columns: var(--main_grid_column);
  width: 90%;
  max-width: 1200px;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 300px;
  padding: 2em;
  background-color: #3498db;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  overflow-y: auto;
  position: relative;
  transition: all 0.5s ease;
}

.user {
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.projects-container h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.projects-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.projects-container li {
  padding: 10px;
  margin: 4px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.projects-container li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.projects-container li button {
  background-color: #e74c3c;
  padding: 8px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.projects-container li button:hover {
  background-color: #c0392b;
}

.btn {
  appearance: button;
  background-color: #2ecc71;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #27ae60;
}

/* Main Content */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: white;
  overflow-y: auto;
}

.header {
  font-size: 2em;
  margin-bottom: 1em;
  color: #3498db;
}

.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.todo {
  width: 80%;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto 1fr auto 0.2fr;
  gap: 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo > span + span + span {
  text-align: end;
}

.todo-btn {
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.delete-todo-btn {
  background-color: #e74c3c;
  color: white;
}

.delete-todo-btn:hover {
  background-color: #c0392b;
}

.done-todo-btn {
  background-color: #2ecc71;
  color: white;
}

.done-todo-btn:hover {
  background-color: #27ae60;
}

.create-todo-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #3498db;
  color: white;
  padding: 5px;
  border: none;
  font-size: 31px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.create-todo-btn:hover {
  background-color: #2980b9;
}

/* Popups */
.create-project-popup,
.create-todo-popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 90%;
  max-width: 400px;
}

.create-project-popup.active,
.create-todo-popup.active {
  display: block;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #3498db;
}

.form-element {
  margin-bottom: 15px;
}

.form-element label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-element input,
.form-element select,
.form-element button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}

.form-element button {
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.form-element button:hover {
  background-color: #27ae60;
}
.darkmode-toggle-btn {
  position: absolute;
  right: 20px;
  top: 10px;
}
label[for="darkmode-toggle"] {
  width: 80px;
  height: 32px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.5s;
}
label[for="darkmode-toggle"]:after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input[id="darkmode-toggle"] {
  width: 0;
  height: 0;
  visibility: hidden;
}
input[id="darkmode-toggle"]:checked + label {
  background: #242424;
}
input[id="darkmode-toggle"]:checked + label:after {
  left: 72px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label[for="darkmode-toggle"]:active:after {
  width: 40px;
}

body.darkmode {
  background-color: #212020;
}
.main.darkmode {
  background-color: #3a3a3a;
}
.todo.darkmode {
  background-color: #262525;
  color: white;
}
.strike {
  text-decoration: line-through;
}
.todo-done {
  opacity: 0.6;
}
.disable {
  display: none;
}

.due-by-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.due-by-container h4 {
  grid-column: span 2;
}

.due-by-container ul {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 3px;
  column-gap: 10px;
}

.due-by-container li {
  padding: 10px;
  margin: 4px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}
.due-by-container li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar.toggleVisibility {
  width: 70px;
  transition: all 0.8s ease;
  overflow-x: hidden;
}
.user.toggleVisibility {
  display: none;
}
.due-by-container.toggleVisibility {
  display: none;
}
.projects-container.toggleVisibility {
  display: none;
}
.create-project-button-container.toggleVisibility {
  display: none;
}

.drop-down-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #3498db;
  color: white;
  padding: 5px;
  border: none;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.5s;
}
.drop-down-btn:hover {
  transition: transform 0.5s;
  transform: scale(1.5);
}

.drop-down-btn.toggleVisibility {
  position: unset;
}
